---
import Layout from '../layouts/Layout.astro';
const TITLE = "Welcome to the Asciidoc Setup Project"
---

<Layout title={TITLE} >

	<header class="flex justify-center items-center px-8 py-12">
		<h1 class="text-3xl">{TITLE}</h1>
	</header>
	
	<main>
		<div class="container mx-auto px-8 py-4">
			<div class="flex justify-center items-center gap-4">
				<p class="text-lg/8">
				  This project is designed to help you setup Asciidoc.
				  Asciidoc is an alternative to writing markdown.
				  It's a writing format with a defined spec for writing 
				  various things. It can compile to HTML, man pages PDF.  
				</p>
			</div>
		</div>
	</main>
	
</Layout>


